.SideBarContainer {
  width: 35%;
  height: 100vh;
  position: fixed;
  background-color: #35a0ee;
  padding-top: 2em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AbsoluteColor {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: red;
  top: 0;
  left: 0;
  background: #13549f;
  opacity: 0.3;
  z-index: -1;
}

@media (max-width: 768px) {
  .SideBarContainer {
    display: none;
  }
}
