.ProgressContainer {
  display: flex;
  flex-direction: column;
}

.SteptContainer {
  display: flex;
  flex-direction: column;
}

.Step {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
}

.StepBox {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  width: 1.75em;
  height: 1.75em;
  margin-right: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DoneStepBox {
  border: 3px solid #ffffff;
}

.DoneStepBox::before {
  content: "";
  height: 0.7em;
  width: 0.7em;
  background-color: #ffffff;
  border-radius: 2px;
}

.StepTitle {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.DoneStepTitle {
  color: #ffffff;
}

.StepStrikeContainer {
  display: flex;
  flex-direction: column;
  padding-left: 0.75em;
  margin-bottom: 0.3em;
}

.StepStrike {
  width: 0.25em;
  height: 0.56em;
  border-radius: 1px;
  margin-bottom: 0.2em;
  background-color: rgba(255, 255, 255, 0.5);
}

.DoneStepStrike {
  background-color: #ffffff;
}
